.ids{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

}




/* =================================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root{
  width: 100%;
}


.dropmenu{
  display: flex;
  justify-content: space-between;
}

.low-col{
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;
}